/* Box Shadow */
/* Box Radius */
/* Transition */
@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/typography/roboto/Roboto-100/Roboto-100.eot");
  src: url("../fonts/typography/roboto/Roboto-100/Roboto-100.eot?#iefix") format("embedded-opentype"), local("Roboto Thin"), local("Roboto-100"), url("../fonts/typography/roboto/Roboto-100/Roboto-100.woff2") format("woff2"), url("../fonts/typography/roboto/Roboto-100/Roboto-100.woff") format("woff"), url("../fonts/typography/roboto/Roboto-100/Roboto-100.ttf") format("truetype"), url("../fonts/typography/roboto/Roboto-100/Roboto-100.svg#Roboto") format("svg"); }
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/typography/roboto/Roboto-300/Roboto-300.eot");
  src: url("../fonts/typography/roboto/Roboto-300/Roboto-300.eot?#iefix") format("embedded-opentype"), local("Roboto Light"), local("Roboto-300"), url("../fonts/typography/roboto/Roboto-300/Roboto-300.woff2") format("woff2"), url("../fonts/typography/roboto/Roboto-300/Roboto-300.woff") format("woff"), url("../fonts/typography/roboto/Roboto-300/Roboto-300.ttf") format("truetype"), url("../fonts/typography/roboto/Roboto-300/Roboto-300.svg#Roboto") format("svg"); }
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/typography/roboto/Roboto-regular/Roboto-regular.eot");
  src: url("../fonts/typography/roboto/Roboto-regular/Roboto-regular.eot?#iefix") format("embedded-opentype"), local("Roboto"), local("Roboto-regular"), url("../fonts/typography/roboto/Roboto-regular/Roboto-regular.woff2") format("woff2"), url("../fonts/typography/roboto/Roboto-regular/Roboto-regular.woff") format("woff"), url("../fonts/typography/roboto/Roboto-regular/Roboto-regular.ttf") format("truetype"), url("../fonts/typography/roboto/Roboto-regular/Roboto-regular.svg#Roboto") format("svg"); }
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/typography/roboto/Roboto-500/Roboto-500.eot");
  src: url("../fonts/typography/roboto/Roboto-500/Roboto-500.eot?#iefix") format("embedded-opentype"), local("Roboto Medium"), local("Roboto-500"), url("../fonts/typography/roboto/Roboto-500/Roboto-500.woff2") format("woff2"), url("../fonts/typography/roboto/Roboto-500/Roboto-500.woff") format("woff"), url("../fonts/typography/roboto/Roboto-500/Roboto-500.ttf") format("truetype"), url("../fonts/typography/roboto/Roboto-500/Roboto-500.svg#Roboto") format("svg"); }
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/typography/roboto/Roboto-700/Roboto-700.eot");
  src: url("../fonts/typography/roboto/Roboto-700/Roboto-700.eot?#iefix") format("embedded-opentype"), local("Roboto Bold"), local("Roboto-700"), url("../fonts/typography/roboto/Roboto-700/Roboto-700.woff2") format("woff2"), url("../fonts/typography/roboto/Roboto-700/Roboto-700.woff") format("woff"), url("../fonts/typography/roboto/Roboto-700/Roboto-700.ttf") format("truetype"), url("../fonts/typography/roboto/Roboto-700/Roboto-700.svg#Roboto") format("svg"); }
/* Define Colors */
/* Fonts */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box; }

body {
  font-family: "Roboto";
  color: #7f7f7f;
  line-height: 22px;
  margin: 0;
  padding: 0; }

label {
  font-weight: normal; }

::selection {
  background: #ffb7b7;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #ffb7b7;
  /* Gecko Browsers */ }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 26px; }

h2 {
  font-size: 22px; }

h3 {
  font-size: 17px; }

h4 {
  font-size: 14px; }

h5 {
  font-size: 11px; }

h6 {
  font-size: 9px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row::after, .row::before {
    content: '';
    clear: both;
    display: block;
    overflow: hidden;
    width: 100%; }

.clearfix::before, .clearfix::after {
  content: '';
  clear: both;
  display: block;
  overflow: hidden;
  width: 100%; }

.col-xs-1, .col-xsm-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-xsm-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-xsm-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-xsm-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-xsm-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-xsm-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-xsm-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-xsm-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-xsm-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-xsm-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-xsm-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-xsm-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 15px;
  padding-right: 15px; }
  .col-xs-1::before, .col-xs-1::after, .col-xsm-1::before, .col-xsm-1::after, .col-sm-1::before, .col-sm-1::after, .col-md-1::before, .col-md-1::after, .col-lg-1::before, .col-lg-1::after,
  .col-xs-2::before,
  .col-xs-2::after, .col-xsm-2::before, .col-xsm-2::after, .col-sm-2::before, .col-sm-2::after, .col-md-2::before, .col-md-2::after, .col-lg-2::before, .col-lg-2::after,
  .col-xs-3::before,
  .col-xs-3::after, .col-xsm-3::before, .col-xsm-3::after, .col-sm-3::before, .col-sm-3::after, .col-md-3::before, .col-md-3::after, .col-lg-3::before, .col-lg-3::after,
  .col-xs-4::before,
  .col-xs-4::after, .col-xsm-4::before, .col-xsm-4::after, .col-sm-4::before, .col-sm-4::after, .col-md-4::before, .col-md-4::after, .col-lg-4::before, .col-lg-4::after,
  .col-xs-5::before,
  .col-xs-5::after, .col-xsm-5::before, .col-xsm-5::after, .col-sm-5::before, .col-sm-5::after, .col-md-5::before, .col-md-5::after, .col-lg-5::before, .col-lg-5::after,
  .col-xs-6::before,
  .col-xs-6::after, .col-xsm-6::before, .col-xsm-6::after, .col-sm-6::before, .col-sm-6::after, .col-md-6::before, .col-md-6::after, .col-lg-6::before, .col-lg-6::after,
  .col-xs-7::before,
  .col-xs-7::after, .col-xsm-7::before, .col-xsm-7::after, .col-sm-7::before, .col-sm-7::after, .col-md-7::before, .col-md-7::after, .col-lg-7::before, .col-lg-7::after,
  .col-xs-8::before,
  .col-xs-8::after, .col-xsm-8::before, .col-xsm-8::after, .col-sm-8::before, .col-sm-8::after, .col-md-8::before, .col-md-8::after, .col-lg-8::before, .col-lg-8::after,
  .col-xs-9::before,
  .col-xs-9::after, .col-xsm-9::before, .col-xsm-9::after, .col-sm-9::before, .col-sm-9::after, .col-md-9::before, .col-md-9::after, .col-lg-9::before, .col-lg-9::after,
  .col-xs-10::before,
  .col-xs-10::after, .col-xsm-10::before, .col-xsm-10::after, .col-sm-10::before, .col-sm-10::after, .col-md-10::before, .col-md-10::after, .col-lg-10::before, .col-lg-10::after,
  .col-xs-11::before,
  .col-xs-11::after, .col-xsm-11::before, .col-xsm-11::after, .col-sm-11::before, .col-sm-11::after, .col-md-11::before, .col-md-11::after, .col-lg-11::before, .col-lg-11::after,
  .col-xs-12::before,
  .col-xs-12::after, .col-xsm-12::before, .col-xsm-12::after, .col-sm-12::before, .col-sm-12::after, .col-md-12::before, .col-md-12::after, .col-lg-12::before, .col-lg-12::after {
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
    width: 100%; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9,
.col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-12 {
  width: 100%; }

/* Grid Responsive */
@media (min-width: 601px) {
  .col-xsm-1 {
    width: 8.33333333%; }

  .col-xsm-2 {
    width: 16.66666667%; }

  .col-xsm-3 {
    width: 25%; }

  .col-xsm-4 {
    width: 33.33333333%; }

  .col-xsm-5 {
    width: 41.66666667%; }

  .col-xsm-6 {
    width: 50%; }

  .col-xsm-7 {
    width: 58.33333333%; }

  .col-xsm-8 {
    width: 66.66666667%; }

  .col-xsm-9 {
    width: 75%; }

  .col-xsm-10 {
    width: 83.33333333%; }

  .col-xsm-11 {
    width: 91.66666667%; }

  .col-xsm-12 {
    width: 100%; }

  .col-xsm-1, .col-xsm-2, .col-xsm-3, .col-xsm-4, .col-xsm-5, .col-xsm-6, .col-xsm-7, .col-xsm-8, .col-xsm-9,
  .col-xsm-10, .col-xsm-11, .col-xsm-12 {
    float: left; } }
@media (min-width: 768px) {
  .col-sm-1 {
    width: 8.33333333%; }

  .col-sm-2 {
    width: 16.66666667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-5 {
    width: 41.66666667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.33333333%; }

  .col-sm-8 {
    width: 66.66666667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.33333333%; }

  .col-sm-11 {
    width: 91.66666667%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
  .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; } }
@media (min-width: 992px) {
  .col-md-1 {
    width: 8.33333333%; }

  .col-md-2 {
    width: 16.66666667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.33333333%; }

  .col-md-5 {
    width: 41.66666667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.33333333%; }

  .col-md-8 {
    width: 66.66666667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.33333333%; }

  .col-md-11 {
    width: 91.66666667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
  .col-md-10, .col-md-11, .col-md-12 {
    float: left; } }
@media (min-width: 1200px) {
  .col-lg-1 {
    width: 8.33333333%; }

  .col-lg-2 {
    width: 16.66666667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.33333333%; }

  .col-lg-5 {
    width: 41.66666667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.33333333%; }

  .col-lg-8 {
    width: 66.66666667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.33333333%; }

  .col-lg-11 {
    width: 91.66666667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
  .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; } }
.list-item {
  margin: 0;
  padding: 0; }
  .list-item li {
    margin: 0px;
    padding: 0px; }
    .list-item li + li {
      margin-top: 20px; }

.nav {
  position: relative;
  z-index: 1; }
  .nav > ul {
    margin: 0px;
    padding: 0px;
    background: #e81f64;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px; }
    .nav > ul > li {
      float: left;
      position: relative; }
      .nav > ul > li > a {
        display: block;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        line-height: normal;
        padding: 15px 30px;
        transition: color ease 0.2s, background ease 0.2s;
        -webkit-transition: color ease 0.2s, background ease 0.2s;
        -moz-transition: color ease 0.2s, background ease 0.2s;
        -ms-transition: color ease 0.2s, background ease 0.2s;
        -o-transition: color ease 0.2s, background ease 0.2s; }
      .nav > ul > li.active > a, .nav > ul > li:hover > a {
        background: #c0144f; }
      .nav > ul > li > ul {
        position: absolute;
        top: 49px;
        left: 0px;
        width: 200px;
        display: none; }
        .nav > ul > li > ul > li > a {
          display: block;
          font-size: 14px;
          color: #000;
          text-decoration: none;
          line-height: normal;
          padding: 12px 30px;
          background: #f2f2f2;
          transition: color ease 0.2s, background ease 0.2s;
          -webkit-transition: color ease 0.2s, background ease 0.2s;
          -moz-transition: color ease 0.2s, background ease 0.2s;
          -ms-transition: color ease 0.2s, background ease 0.2s;
          -o-transition: color ease 0.2s, background ease 0.2s; }
        .nav > ul > li > ul > li:hover > a {
          background: #e6e6e6; }
      .nav > ul > li.dropdown > a::after {
        content: "\f0d7";
        font-family: "FontAwesome";
        display: inline-block;
        font-size: 17px;
        margin-left: 6px;
        position: relative;
        top: 2px; }
    .nav > ul::after {
      content: '';
      clear: both;
      display: block;
      overflow: hidden;
      width: 100%; }
  .nav .nav-trigger {
    width: 45px;
    height: 38px;
    background: #F84F1C;
    display: inline-block;
    padding: 11px 12px 5px;
    border: none;
    cursor: pointer;
    display: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: background ease 0.2s, color ease 0.2s;
    -webkit-transition: background ease 0.2s, color ease 0.2s;
    -moz-transition: background ease 0.2s, color ease 0.2s;
    -ms-transition: background ease 0.2s, color ease 0.2s;
    -o-transition: background ease 0.2s, color ease 0.2s; }
    .nav .nav-trigger .line {
      display: block;
      height: 2px;
      background: #fff;
      margin: 0 0 3px 0; }
    .nav .nav-trigger:focus {
      outline: none; }
  .nav::after, .nav::before {
    content: '';
    clear: both;
    display: block;
    overflow: hidden;
    width: 100%; }
  .nav.mobile-menu > ul {
    position: absolute;
    top: 50px;
    width: 100%; }
    .nav.mobile-menu > ul > li {
      float: none; }
      .nav.mobile-menu > ul > li > ul {
        position: static;
        width: auto; }
  .nav.mobile-menu .nav-trigger {
    float: right; }

.btn-primary, .btn-success, .btn-danger, .btn-warning, .btn-default {
  display: inline-block;
  font-size: 15px;
  padding: 10px 17px;
  color: #fff;
  line-height: 17px;
  cursor: pointer;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: background ease 0.2s;
  -webkit-transition: background ease 0.2s;
  -moz-transition: background ease 0.2s;
  -ms-transition: background ease 0.2s;
  -o-transition: background ease 0.2s; }
  .btn-primary:focus, .btn-success:focus, .btn-danger:focus, .btn-warning:focus, .btn-default:focus {
    outline: none; }

.btn-primary, .btn-success, .btn-danger, .btn-warning, .btn-default {
  background: #2397f5;
  border: #0862aa 1px solid; }
  .btn-primary:hover, .btn-success:hover, .btn-danger:hover, .btn-warning:hover, .btn-default:hover, .btn-primary:focus, .btn-success:focus, .btn-danger:focus, .btn-warning:focus, .btn-default:focus {
    background: #3ba3f6; }

.btn-success {
  background: #7cb442;
  border: #628f34 1px solid; }
  .btn-success:hover, .btn-success:focus {
    background: #89bf50; }

.btn-danger {
  background: #f44236;
  border: #ea1b0d 1px solid; }
  .btn-danger:hover, .btn-danger:focus {
    background: #f5594e; }

.btn-warning {
  background: #fdd734;
  border: #fccc02 1px solid; }
  .btn-warning:hover, .btn-warning:focus {
    background: #fddc4d; }

.btn-default {
  background: #fff;
  border: #c4c4c4 1px solid;
  color: #b7b7b7; }
  .btn-default:hover, .btn-default:focus {
    background: #fff;
    border-color: #d0d0d0; }

.tooltip-outer {
  position: absolute;
  z-index: 111;
  background: #000;
  padding: 6px 14px;
  max-width: 100%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px; }
  .tooltip-outer .tooltip-text {
    color: #fff;
    font-size: 13px;
    text-align: center;
    line-height: normal; }
  .tooltip-outer .tooltip-arrow {
    position: absolute;
    bottom: -12px;
    left: 0px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
    border-width: 6px;
    width: 0;
    height: 0; }

.HRoots_header {
  background: #e81f64;
  padding: 20px 0px;
  position: relative;
  z-index: 11;
  box-shadow: 0px 0px 15px 5px #bfbfbf;
  -webkit-box-shadow: 0px 0px 15px 5px #bfbfbf;
  -moz-box-shadow: 0px 0px 15px 5px #bfbfbf;
  -ms-box-shadow: 0px 0px 15px 5px #bfbfbf;
  -o-box-shadow: 0px 0px 15px 5px #bfbfbf; }
  .HRoots_header .HRoots_logo {
    color: #fff;
    font-weight: 500;
    font-size: 22px; }

.HRoots_wrap {
  padding: 35px 0;
  background: #fafafa; }
  .HRoots_wrap h2 {
    margin: 30px 0 20px;
    position: relative;
    padding: 0px 0px 15px 0px; }
    .HRoots_wrap h2::before {
      content: '';
      width: 100%;
      max-width: 40px;
      height: 3px;
      background: #e81f64;
      position: absolute;
      bottom: 0px;
      left: 0px; }
  .HRoots_wrap .HRoots-grids .HRoots-grid-items {
    background: #fff;
    text-align: center;
    font-size: 14px;
    border: #d9d9d9 1px solid;
    padding: 10px 0px;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    margin-bottom: 30px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: background ease 0.2s, border ease 0.2s, color ease 0.2s;
    -webkit-transition: background ease 0.2s, border ease 0.2s, color ease 0.2s;
    -moz-transition: background ease 0.2s, border ease 0.2s, color ease 0.2s;
    -ms-transition: background ease 0.2s, border ease 0.2s, color ease 0.2s;
    -o-transition: background ease 0.2s, border ease 0.2s, color ease 0.2s; }
    .HRoots_wrap .HRoots-grids .HRoots-grid-items:hover {
      background: rgba(232, 31, 100, 0.5);
      border-color: #e81f64;
      color: #fff; }

/*# sourceMappingURL=framework.css.map */
