
/* Define Colors */

$primary_color		:		#e81f64;
$secondary_color	:		#ddd;
$color_black		:		#000;
$color_white		:		#fff;
$light_grey			:		#fafafa;
$text_color			:		#7f7f7f;
$green				:		#7cb442;
$blue 				:		#2397f5;
$red 				:		#f44236;
$yellow 			:		#fdd734;


/* Fonts */

$font1				:	'Roboto';
$font2				:	'FontAwesome';